@page {
	margin: 20mm;
}
html {
	box-sizing: border-box;
	cursor: default;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	cursor: inherit;
}
body {
	margin: 0;
}
main {
	width: calc(210mm - 2 * 20mm);
	color: #000;
	font: 11pt/1.25 sans-serif;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
h1 {
	flex-basis: 100%;
	margin: 0 0 1.5em;
	font-weight: inherit;
	font-size: 125%;
	text-align: center;
}
header svg {
	position: absolute;
	top: 0;
	right: 0;
}
table {
	table-layout: fixed;
	width: 100%;
	margin: 7mm 0 7mm 1px;
	border-collapse: collapse;	
}
thead tr {
	background: #90abdc;
}
th {
	padding: .5ex;
	padding-right: 0;
	font-weight: inherit;
	text-align: left;
	vertical-align: top;
}
th small {
	display: block;
	font-size: 50%;
}
th[data-format="0:00"] {
	width: 16mm;
}
th[data-format="0"] {
	width: 8mm;
}
td[data-format],
tfoot td {
	padding-right: .5ex;
	text-align: right;
}
header dd:empty,
tbody td[data-format="0:00"],
tbody td.comment {
	background: rgba(0,211,229,.1);
}
td.comment {
	overflow: hidden;
	white-space: nowrap;
}
tfoot td {
	padding-top: 3mm;
}
tr[data-work="0.5"] td {
	background-image: repeating-linear-gradient(75deg, transparent, transparent 2mm, #ccc 2mm, #ccc 4mm);
}
tr[data-work="0"] td {
	background: #ccc;
}
td.break[data-value="0"],
tr[data-work="0"] td[data-format="0:00"],
tr[data-work="0"] td.comment {
	font-size: 0;
}
dt::after,
[colspan]::after {
	content: ": "
}
dl,
dd {
	margin: 0;
}
header dl {
	display: flex;
	flex-wrap: wrap;
	width: calc(32mm + 45mm);
}
header dt,
header dd {
	width: 32mm;
}
th.comment,
header dd {
	width: 45mm;
}
header dd {
	border-bottom: 1px solid transparent;
}
@media screen {
	header dd {
		border-bottom-color: #000;
	}
}
tr,
header dd:empty {
	border-bottom: 1px solid #000;
}
header dl:last-child dd::after {
	content: "\a0";
}
footer {
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}
footer dt,
footer dd {
	display: inline;
}
footer dt:first-child::after {
	content: " ";
}
footer dd + dt::before {
	content: "\a";
	white-space: pre;
}
@media print {
	.screen {
		display: none;
	}	
}
